
li a{
    color: rgb(225, 0, 255);
}

.navbar .nav-link{
    color: aliceblue !important;
}
.img-thumbnail{
    height: 150px;
}
.margin-10 {
    margin: 10px;
}
.margin-top-10 {
    margin-top: 10px;
}
.center {
    text-align: center;
}